{% extends 'siteapp/base.html' %}
{% block content %}
<div class="title social">
   <h1>follow me</h1>
</div>
<div class="meat social">
    <div class="row social-container">
        <div class="three columns">
            <h3>&#9978;</h3>
            <a href="https://stayinschool.bandcamp.com/" target="_blank"><button>bandcamp</button></a>
        </div>
        <div class="three columns">
            <h3>&#9925;</h3>
            <a href="https://soundcloud.com/stayinschoolband" target="_blank"><button>soundcloud</button></a>
        </div>
        <div class="three columns">
            <h3>&#128038;</h3>
            <a href="https://twitter.com/_stayinschool_" target="_blank"><button>twitter</button></a>
        </div>
        <div class="three columns">
            <h3>&#128250;</h3>
            <a href="https://www.youtube.com/channel/UCcuobNwRw-cygjYyHvHxnMg" target="_blank"><button>youtube</button></a>
        </div>
    </div>
    <div class="row social-container">
        <div class="twelve columns">
            <h3>latest wisdom</h3>
            <p>A sprinkle of ukulele music can add joy to any day.</p>
        </div>
    </div>
</div>
{% endblock %}